@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

body {
  margin: 0;
  font-family: 'Alata', sans-serif;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100vh;
  animation: backgroundChange .5s linear 3s forwards, fadeOut .5s linear 5s forwards
}

.load-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 10vmax;
  width: fit-content;
  display: flex;
}

.red {
    animation: colorChangeRed .5s linear 3s forwards;
}

.white {
    animation: colorChangeWhite .5s linear 3s forwards;
}

.loaded-text {
  transform: scale(1.5);
  animation: scaleText .5s linear .5s forwards;
}

.loading-text {
  width: 0;
  overflow: hidden;
  animation: expand .5s linear 1.5s forwards;
}

main {
  padding: 1em;
  box-sizing: border-box;
  background-color: black;
  color: white;
  min-height: 100vh;
  font-family: 'Alata', sans-serif;
}

.getIn {
    left: 50%;
    top: 50%;
}

@keyframes scaleText {
  from {transform: scale(1.5)}
  to {transform: scale(1)}
}

@keyframes expand {
  from {width: 0;}
  to {width: 30vmax;}
}

@keyframes backgroundChange {
  from {background-color: white}
  to {background-color: black}
}

@keyframes colorChangeWhite {
  from {color: black}
  to {color: white}
}

@keyframes colorChangeRed {
    from {color: black}
    to {color: #279CEB}
  }

@keyframes fadeOut {
  from {opacity: 1}
  to {
    opacity: 0; 
    z-index: -1;
  }
}
